
$orange: #f26522;
$gris: #9a9a9a;

.ssm-sub-menu ul {
  margin:0;
  padding:0;
}

.ssm-sub-menu li{
  list-style: none;
}

.ssm-sub-menu {
  position: fixed;
  top: 45%;
  width: 250px;
  z-index: 1000;
}

.ssm-sub-menu span.ssm-elmt{
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px 10px 50px;
  cursor: pointer;
  line-height: 1rem;
  justify-content: left;
  font-weight: bold;
}
.ssm-sub-menu span.ssm-pills{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height:16px;
  width: 16px;
  border: 1px solid $gris;
  border-radius: 50%;
  left: 20px;
  box-sizing: border-box;
}

.ssm-sub-menu span.ssm-pills::after{
  content:'';
  position: absolute;
  height:16px;
  width: 16px;
  border: 1px solid $gris;
  border-radius: 50%;
  left: -1px;
  top: -1px;
  box-sizing: border-box;
}

.ssm-sub-menu span.ssm-nav-pills{
  position: absolute;
  height:15px;
  width: 15px;
  border-radius: 50%;
  left: 20px;
}

.ssm-sub-active span.ssm-pills,
.ssm-sub-active span.ssm-pills::after{
  background-color: $orange;
  border-color: $orange !important;
}
.ssm-sub-menu span.ssm-pills-active {
  background-color: $orange;
  border-color: $orange !important;
}
.ssm-sub-menu span.ssm-radar::after {
  border-width: 2px;
  background-color: transparent !important;
  animation-duration: 1s;
  animation-name: radar;
}

.ssm-cn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }