div {
	box-sizing:border-box;
}

.section{
	position:relative;
	padding:50px;
	width:100%;
	border: 1px solid green;
}

.sub-section{
	position:relative;
	width:100%;
	height: 700px;
	border: 1px solid red;
	margin: 0;
}